<div class="highlights">
	
	<h1>Things I've built recently</h1>

	<div class="highlight-1">
		<a href="https://www.crunchbase.com/organization/aisle50" target="_blank"><img style="max-width: 150px; display: block;" src="https://s3-us-west-2.amazonaws.com/chrissteinerdotcom/images/Aisle50_logo_green_no_shadow.png"></a>
				
				<div class="highlight-note">
					<span><b>Cofounder, Co-CEO 2010-2015</b><br>Aisle50 raised a total of $6 million, including funding from August Capital, Y Combinator and Origin Ventures, and was acquired by Groupon in 2015.</span> 
				</div>
	
	</div>
	
	
	<div class="highlight-2">
		
		<a href="https://zrankings.com" target="_blank"><img style="height: 92px; display: block;" src="https://s3-us-west-2.amazonaws.com/chrissteinerdotcom/images/newer-logo-z-300.png"></a>
			
					<div class="highlight-note">
						<span><b>Founder, designer, engineer </b><br>ZRankings ranks the best 220 ski resorts in North America. Its algorithms power the best-read ski resort profiles and rankings on web, including those at Forbes, FreeSkier magazine and Realty Trac. Its rankings have appeared on Fox News and CNBC.</span> 
					</div>
		
	</div>
	
	<div class="highlight-3">
		
		
		
		<a href="http://www.amazon.com/gp/product/1591844924/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bobmania-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1591844924" target="_blank"><img style="height: 180px; display: block;" src="https://s3-us-west-2.amazonaws.com/chrissteinerdotcom/images/automate_this_150.png"></a>
	
		<div class="highlight-note">
			<span><b>Author</b><br>My second book, <a href="http://www.amazon.com/gp/product/1591844924/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bobmania-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1591844924" target="_blank">Automate This</a>, was published by Penguin in 2012. Well reviewed by the Financial Times, the Wall Street Journal, MIT Technology Review and an erstwhile news program known as <a href="http://www.colbertnation.com/the-colbert-report-videos/421266/november-14-2012/high-frequency-trading---christopher-steiner" target="_blank">The Colbert Report.</a> Buy it at <a href="http://www.amazon.com/gp/product/1591844924/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bobmania-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1591844924" target="_blank">Amazon.</a>
<br><br> 
I make regular contributions at <a href="http://blogs.forbes.com/christophersteiner">Forbes</a>, while also writing for outlets like the Wall Street Journal, Fast Company, The Guardian of London and others.
</span> 
				
		<!--	<form action="http://www.amazon.com/gp/product/1591844924/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bobmania-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1591844924">
		    <input type="submit" class="belize-button" value="Buy it at Amazon">
		</form> -->
				
		</div>
	
	</div>

	









</div>