<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	
	<div class="subheader">
		
		
		
		<div class="subtext">
			<div style="margin-bottom: 18px">
			<span>
				Creative<br>
				Builder<br>
				Words<br>
				Code</span>
				<br>
			</div>
			<a href="/contact/" class="btn-main">Contact</a>
						
		</div>
		<div class="caption">
			<span>
				<a href="http://silvertonmountain.com">Getting lucky in<br>Silverton, Colorado</a>
			</span>
		</div>			
	</div>

    <div class="page-content">
      <div class="wrapper">
     
		  {{ content }}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
